
@import url("style.css");

#cart-container-section{
    padding: 20px 0;
}
.dsc-cart-total-container h3{
    padding: 0 20px 10px 20px;
    display: flex;
    color:var( --dsc-color-font-secundary);
    font-size: 16px;
    font-weight: 700;
    justify-content: flex-end;
}
.dsc-cart-item-container{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.dsc-cart-item-container img{
    width: 78px;
    height: 78px;
}
.dsc-cart-item-left {
    display: flex;
}
.dsc-cart-item-quantity-container{
    display: flex;
    font-size: 16px;
    font-weight: 700;
}
.dsc-cart-item-right{
    padding: 10px 0;
    color: var( --dsc-color-font-secundary);
    font-size: 16px;
    font-weight: 700;
}
.dsc-cart-item-description{
    padding: 10px 0 54px 22px;
    color: var(--dsc-color-font-primary);
}
.dsc-cart-item-description h3{
    font-size: 12px;
}
.dsc-cart-item-quantity-btn{
    color: var(--dsc-color-btn-primaty);
    cursor: pointer;
}
.dsc-cart-item-quantity-container p{
    margin: 0 5px;
}