@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*DANDO RESET NA PAGINA*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}
html, body{
   background-color: #E8E8E8;
}
/*COMEÇANDO O CABEÇALHO*/

header{
    background-color: #FFE500;
    height: 70px;
    display: flex;
    align-items: center;
    
}
a, a:hover{
    text-decoration: none;
    color: unset;
}
nav{
    color: #636363;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

}
/*INICIANDO O A MAIN*/
.card{
    margin-bottom: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #fff;
}

/*BOTÕES*/
.btn-page-container{
    width: 220px;
    display: grid;
    grid-gap: 20px;
}
.btn{
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-blue{ 
    background-color: #3483FA;
    color: #fff;
}
.btn-white{
    background-color: #fff;
    color: #3483FA;
    border: 1px solid #3483FA;
}
/*INICIO DO CARRINHO DE COMPRAS*/

.line-bottom{
    border-bottom: 1px solid #d9d9d9
}
